<%= form_with(model: audition, local: true) do |form| %>
  <% if audition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(audition.errors.count, "error") %> prohibited this audition from being saved:</h2>

      <ul>
      <% audition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
